* {
    padding: 0;
    margin: 0;
    font-family: "Inter", sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: auto;
    padding: 15px 15px;
}

.nav-logo {
    display: flex;
    align-items: center;
}

.list {
    display: flex;
    list-style: none;
    gap: 20px;
}

.list a {
    text-decoration: none;
    color: #575757;
}

.button {
    background-color: #1D4ED8;
    color: white;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    padding: 10px 20px;
}

.button-2 {
    background-color: #1D4ED8;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    padding: 12px 30px
}

/* Nav section End */

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url('./images/banner.jpg');
    height: 90vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: grid;
    justify-content: center;
    align-items: center;
}

.header-contant {
    color: white;
    text-align: center;
    justify-content: space-between;
}

.header-contant h1 {
    font-size: 300%;
    margin: 20px;
}

.header-contant p {
    margin: 20px;

}

.header-contant button {
    margin-top: 40%
}

/* Hero Section End */